* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
        sans-serif;
}

html {
    font-size: 62.5%;
}

input,
a,
button,
textarea {
    outline: none;
    border: none;
    background: transparent;
    text-decoration: none;
    color: #e6e6e6;
}

button:hover {
    cursor: pointer;
}

body {
    position: relative;
    background-color: #1b1b1b;
    width: 100vw;
    height: 100vh;
    font-size: 1.6rem;
    overflow: hidden;
}

body * {
    color: #e6e6e6;
}

main {
    height: 100%;
    width: 100%;
    padding: 2rem 3rem;
}

form {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.logo {
    border-bottom: 0.2rem solid #c4c4c4;
    padding: 0.1rem 1rem;
}

.list-content {
    position: relative;
    max-height: 100%;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    margin-block: 2rem;
}

.list {
    position: absolute;
    width: 100%;
    height: 100%;
}

form .form-footer {
    display: flex;
    justify-content: end;
    padding: 2rem 3rem;
    padding-bottom: 0;
    border-top: 0.2rem solid #c4c4c4;
    background-color: #1b1b1b;
}

.button-action {
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    transition: all 0.3s;
}

.button-action[button-action='confirm'] {
    background-color: #008100;
}

.button-action[button-action='confirm']:hover {
    background-color: #006400;
}

.button-action[button-action='confirm']:active {
    transform: scale(0.95);
    background-color: #004d00;
}

.button-action[button-action='cancel'] {
    background-color: #880000;
}

.button-action[button-action='cancel']:hover {
    background-color: #6b0000;
}

.button-action[button-action='cancel']:active {
    transform: scale(0.95);
    background-color: #530000;
}

.text-red {
    color: #ff0000;
}

select,
select option {
    color: #000;
}

.logo {
    display: flex;
    gap: 10px;
    align-items: center;
}

.logo .help-icon {
    cursor: pointer;
}

.logo .help-info {
    position: absolute;
    display: none;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
    width: 60%;
    height: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #1b1b1b;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    z-index: 100;
}

.logo .help-info .help-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo .help-info.enable {
    display: flex;
}

.logo .help-content {
    height: 100%;
    overflow-y: auto;
    word-wrap: normal;
}

.close {
    cursor: pointer;
}
